:host {
	display: block; 
	margin: 40px; 
}
.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.progressBarContainer {
	border: 1px solid black;
	width: 60%;
}

.progressBar {
	display: block;
	width: 0%;
	height: 20px;
	background-color: red;
}

.sqft { 
	margin: 0 5px;
}

