:host {
  display: block;
  margin: 1rem 2rem 2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  :host {
    margin: 2rem 2rem;
  }
}

@media screen and (min-width: 1200px) {
  :host {
    margin: 3rem 3rem;
  }
}

@media screen and (min-width: 1800px) {
  :host {
    margin: 4rem 3rem;
  }
}

.main-container {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .main-container {
    width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .main-container {
    width: 80%;
  }
}

.occupancy-container span {
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  .occupancy-container span {
    font-size: 1.6rem;
  }
}

.occupancy-container,
.property-container {
  margin: 0;
  padding: 0.5rem;
}

@media screen and (min-width: 600px) {

  .occupancy-container,
  .property-container {
    margin: 1rem 0;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {

  .occupancy-container,
  .property-container {
    margin: 1rem 0;
  }
}

@media screen and (min-width: 1800px) {

  .occupancy-container,
  .property-container {
    margin: 2rem 0;
  }
}

.property-name-jumbotron {
  font-size: 4rem;
  justify-content: left;
  padding: 0.5rem;
  display: none;
}

@media screen and (min-width: 768px) {
  .property-name-jumbotron {
    display: block;
  }
}

.progress-bar-container {
  padding: 0.5rem 0;
  margin: 0.5rem 0;
}

@media screen and (min-width: 768px) {
  .progress-bar-container {
    padding: 1.5rem 0;
    margin: 2rem 0;

  }
}

.progress-bar-outer {
  border: 0.1rem solid #000;
  height: 2rem;
  width: 100%;
  overflow: hidden;
}

.progress-bar-fill {
  display: block;
  height: 2rem;
}

.sqft {
  margin: 0 0.5rem;
  font-size: 1.2rem;
}

.form-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

input {
  border: none;
  border-bottom: 0.1rem solid black;
  padding: 0.2rem;
  /*height: 1rem;*/
}

@media screen and (min-width: 768px) {
  input {
    height: 1.6rem;
  }
}

label {
  display: inline-block;
  font-size: 1.4rem;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  label {
    font-weight: 800;
    font-size: 1.6rem;
  }
}

.form-set {
  display: block;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

@media screen and (min-width: 768px) {
  .form-set {
    margin: 2rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
}

.form-field {
  padding: 0.5rem;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .form-field {
    margin: 0 0 0 2rem;
    width: 100%;
  }
}

.form-label {
  display: block;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .form-field {
    display: inline-block;
    width: 100%;
  }
}

.property-details-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 100%
}

@media screen and (min-width: 768px) {
  .property-details-container {
    width: 40%;
  }
}

.tenant-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  width: 100%;
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .tenant-container {
    width: 40%;
    margin-top: 0;
  }
}
