<h3>{{property.name}}</h3>
<div>
	<h3>Occupancy</h3>
	<div *ngIf="showOccupancy">
		<div class="progressBarContainer"> 
			<!-- <span class="progressBar" [style.backgroundColor]=" tenantAreaPercent != null ? 'red': 'white'"></span> -->
			<span *ngIf="tenantAreaPercent" class="progressBar" [style.width.%]="tenantAreaPercent * 100" [style.background-color]="'#47DC96'"></span>
		</div>
		<span>{{property.tenantArea}}</span>
		<span class="sqft">SF</span>
		<span *ngIf="showTenantAreaPercent">( {{tenantAreaPercent | percent}} )
		</span>
	</div>
</div>
<div> 
	<form #main="ngForm" class="form-container">
		<div class="property-container">
			<h3>Property</h3>
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" class="form-control" id="name" required  [(ngModel)]="property.name" name="name">
			</div>
			<div class="form-group">
				<label for="rentableArea">Rentable Area</label>
				<input type="text" class="form-control" id="rentableArea" required [(ngModel)]="property.rentableArea" name="rentableArea" (input)=fireEventRentableArea($event) > 
			</div>
		</div>

		<div class="tenant-container">
			<h3>Tenant</h3>
			<div class="form-group">
				<label for="tenantName">Tenant Name</label>
				<input type="text" class="form-control" id="tenantName">
			</div>
			<div class="form-group">
				<label for="tenantArea">Tenant Area</label>
				<input type="text" class="form-control" id="tenantArea" required [(ngModel)]="property.tenantArea" name="tenantArea"  (input)=fireEventTenantArea($event)>
			</div> 
		</div>
	</form>
</div>
