:host {
	display: block; 
	margin: 40px; 
}
.form-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.property-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start; 
}

.tenant-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}

.progressBarContainer {
	border: 1px solid black;
	width: 100%;
	height: 20px;
	overflow: hidden; 
}

.progressBar {
	display: block; 
	height: 20px; 
}

.sqft { 
	margin: 0 5px;
}

.h3 {
	margin: 20px 0;
}