<h2>{{property.name}}</h2>

<div>
	<h3>Occupancy</h3>
	<div *ngIf="showOccupancy">
		<div class="progressBarContainer">
			<span class="progressBar" ></span>
			<span class="progressBar" [style.backgroundColor]=" property.showTenantAreaPercent ? 'red': 'white'"></span>

		</div>
		<span>{{property.tenantArea}}</span>
		<span class="sqft">SF</span>
		<span *ngIf="showTenantAreaPercent">( {{tenantAreaPercent | percent}} )
		</span>
	</div>
</div>
<div>
	<h3>Property</h3>
	<form (submit)="onSubmit($event)" #main="ngForm" >
		<div class="flex-container">
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" class="form-control" id="name" required  [(ngModel)]="property.name" name="name">
			</div>
			<div class="form-group">
				<label for="rentableArea">Rentable Area</label>
				<input type="text" class="form-control" id="rentableArea" required [(ngModel)]="property.rentableArea" name="rentableArea" (input)=fireEventRentableArea($event) > 
			</div>
			<div class="form-group">
				<label for="tenantName">Tenant Name</label>
				<input type="text" class="form-control" id="tenantName">
			</div>
			<div class="form-group">
				<label for="tenantArea">Tenant Area</label>
				<input type="text" class="form-control" id="tenantArea" required [(ngModel)]="property.tenantArea" name="tenantArea"  (input)=fireEventTenantArea($event)>
			</div> 
		</div>
		<button (click)="fireSubmitEvent($event)" type="submit" class="btn btn-success">Submit</button>
	</form>
</div>
